
@{
    ViewData["Title"] = "Agenda";
}

<h2>Agenda</h2>
<hr />

Compte tenu de la pandemie qui sévit, et en respect des recommendations du gouvernement, nous ne tenons actuellement aucune réunion publique.
Des réunions vidéos sont par contre tenues tous les dimanches à 11h (heure de l'Est).
Revisitez régulièrement cette page pour vous tenir informé de nos mises à jour.