@{
    ViewData["Title"] = "Contact";
}
    <div style="text-align:center">
        <h3>@ViewData["Message"]</h3>

        <address>
            Le chemin du disciple<br />
            5615 rue Albert Pierrefonds, H9Z 2W1, QC<br />
            <abbr title="Phone">P:</abbr>
            514.913.2380
        </address>

        <address>
            <strong>Courriel:</strong> <a href="mailto:Support@example.com">infos@lechemindudisciple.com</a><br />
        </address>
    </div>