
@{
    ViewData["Title"] = "Donner";
}

@*<h2>Donner</h2>
<hr />*@
<div style="text-align:center;" class="giveBox">
    Nous croyons en la puissance de donner. Voici trois des conditions qui font que nos dons sont agrées par Dieu:
<p>
    <ul>
        <li>Abraham considera <b>le sacrifice</b> de son fils comme <b>un acte d'adoration</b>. Genèse 22:5</li>
        <li>Nos biens obéïssent au <b>principe spirituel</b> de multiplication qui est <b>donner et récolter</b>. Galate 6:7-8</li>
        <li>L'attitude et <b>la disposition de coeur</b> est l'élément fondamental quand nous donnons. 2 corinthiens 9:6-11</li>
    </ul>
</p>
    Pour effectuer votre don, contactez nous au: semer@lechemindudisciple.com
</div>
