
@{
    ViewData["Title"] = "Play";
}

    <div class="embed-responsive embed-responsive-16by9">
        <iframe src="https://player.vimeo.com/video/@ViewData["Code"]" 
                width="500" 
                height="300" 
                frameborder="0" 
                allow="autoplay; fullscreen" 
                allowfullscreen>
        </iframe>
    </div>

