@model WandaWebAdmin.Models.ViewModels.AlbumViewModel
@{
    ViewData["Title"] = "Study";
}
    <div style="height: 500px; display: block; overflow-y: auto; overflow-wrap:normal; overflow-x:hidden">
        <div class="row container">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="width: 100%">
                <h2 class="pull-left">Étude de la bible</h2>
                @*<form action="Search" method="post" class="pull-right" style="display: inline-block;">
                    <input type="text" name="searchKey" placeholder="search" class="form-control search" />
                </form>*@
            </div>
        </div>

        <hr />
        @{
            if(Model.ErrorMessage == null ){
                foreach (var video in Model.Videos)
                {
                    @await Html.PartialAsync("_VideoPartial", video)
                }
            }
            else {
                <h3>@Model.ErrorMessage</h3>
            }
        }
        
    </div>