/* navbar */
.navbar-default {
    background-color: #14213d;
    border-color: #ffffff;
}
/* Title */
    .navbar-default .navbar-brand {
        color: #e5e5e5;
        font-family: 'Dancing Script', cursive;
        font-size: x-large;
    }
        .navbar-default .navbar-brand:hover,
        .navbar-default .navbar-brand:focus {
            color: #fca311;
        }
/* Link */
    .navbar-default .navbar-nav > li > a {
        color: #e5e5e5;
    }
        .navbar-default .navbar-nav > li > a:hover,
        .navbar-default .navbar-nav > li > a:focus {
            color: #fca311;
        }
    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > .active > a:focus {
        color: #000000;
        background-color: #fca311;
    }
    .navbar-default .navbar-nav > .open > a,
    .navbar-default .navbar-nav > .open > a:hover,
    .navbar-default .navbar-nav > .open > a:focus {
        color: #555;
        background-color: #fca311;
    }
/* Caret */
    .navbar-default .navbar-nav > .dropdown > a .caret {
        border-top-color: #e5e5e5;
        border-bottom-color: #e5e5e5;
    }
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* Mobile version */
    .navbar-default .navbar-toggle {
        border-color: #fca311;
    }
        .navbar-default .navbar-toggle:hover,
        .navbar-default .navbar-toggle:focus {
            background-color: #fca311;
        }
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #e5e5e5;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
          color: #333;
    }
}