/* Hide/rearrange for smaller screens */

.carousel-caption {
    display: none;
}

.largeMessage {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 300px;
}

.logo {
    font-family: 'Dancing Script', cursive;
    text-align: left;
    margin-top: 5px;
    font-size: 14px;
    color: black;
}

button.navbar-toggler .test{
    display: normal;
}

